PORT=8081
NODE_ENV=development

APP_KEY=some-random-string
APP_HOST=http://localhost:8081

COOKIE_DOMAIN=localhost

CORS_ORIGIN_ONE=http://localhost:8081
CORS_ORIGIN_TWO=http://localhost:8081

MONGODB_CONNECTION_URL="mongodb://127.0.0.1:27017/?readPreference=primary&authSource=admin&ssl=false"

SPACES_KEY=
SPACES_SECRET=
SPACES_ENDPOINT=
SPACES_URL=
SPACES_REGION=fra1
SPACES_BUCKET=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
