<!doctype html>
<html lang="en" class="main">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet"/>
	<link href="{{mix('app.css')}}" rel="stylesheet"/>

    <title>Welcome</title>
</head>
<body class="bg-gray-100">
	<div id="app" data-page="{{page}}"></div>
	</div>

	<script src="{{mix('app.js')}}"></script>
</body>
</html>
